body{
    margin: 0;
}
#header_top{
    background-color: #5e068a;
    color: #ffffff;
    height: 2.5rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.h_top{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

i{
    padding-left: 10px;
    padding-right: 4px;
}

.hvr_effects{
    color: #2d3e50;
    font-size: 14px;
    font-weight: 600;
}

.hvr_effects:hover{
    color: #5e068a;
    cursor: pointer;
}

.nav_pad{
    padding: 0.5% 5%;

}

.hgt{
    height: 500px;
    filter: brightness(50%);
}

.carousel-caption{
    text-align: left;
    position: absolute;
    top: 50px;
}

.carousel_heading{
   font-size: 52px;
   font-weight: 600;
   padding-bottom: 15px;
}

.carousel-par{
    font-size: 16px;
    padding-bottom: 15px;
}

.btn_course{
    background-color: #5e068a;
    color: white;
    border-radius: 50px;
    height: 60px;
    width: 170px;
}

.btn_course:hover{
    cursor: pointer;
    background-color: #5e068a;
}

.crsl_btn_txt{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.mod{
    padding: 10px 0;
}

input, textarea, select{
    border: none;
    border-style: none;
    
}

input:focus, textarea:focus{
    outline: none;
}

.btn-close{
    float: right;
}

.modal_btn{
    margin: 20px;
}

.modal-dialog{
    height: 100%;
   display: flex;
   align-items: center;
}

.modal_contents{
    padding: 20px 50px;
}

.modal_submit{
    background-color: #5e068a;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    width:150px;
    padding: 10px 0;
    color: #ffffff;
}

select{
    width: 100%;
}

.lum{
    color: #5e068a;
    font-size: 32px;
    font-weight: 500;
    padding: 20px 0;
}

.cin{
    color: #5e068a99;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 10px;
}

.col-md-7{
    text-align: left;
    margin-top: 20px;
    padding-left: 20px;

}

.luminar_des{
    font-size: 15px;
    line-height: 28px;
    color: #414141;
    max-width: 565px;
}

.learn_more{
    width:156px;
    height: 58px;
    background-color: #5e068a;
    border: none;
    color: #ffffff;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin: 30px 0;
}

.learn_more:hover{
    border: #5e068a solid 2px;
    background-color: #ffffff;
    color: #5e068a;
}

.row{
    height: 80%;
}

.our_courses{
    background-color: #f5f5f5;
}
.grid{
    margin:30px 100px;

}

.grid:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.our_img{
    height: auto;
    width: 100%;
}

.hd{
    font-size: 32px;
    text-align: center;
    padding: 100px 0 20px;
}

.our{
    color: #5e068a;

}

#courses{
    color: #9e6ab9;
}


.child_col{
    padding: 30px 20px;
}

.pad_extra{
    background-color: #f5f5f5;
    height: 5px;
}

strong{
    font-weight: 500;
}